<?xml version="1.0" encoding="utf-8" ?>
<menu>
  <food>
    <name>Doner Kebab Box</name>
    <price>4.99</price>
    <description>kebabBox</description>
  </food>
  <food>
    <name>Doner Kebab Pita</name>
    <price>5.99</price>
    <description>kebabPita</description>
  </food>
  <food>
    <name>Doner Kebab</name>
    <price>6.49</price>
    <description>donerKebab</description>
  </food>
  <food>
    <name>Doner Kebab Wrap</name>
    <price>6.99</price>
    <description>kebabWrap</description>
  </food>
  <food>
    <name>Doner Kebab plate with fries</name>
    <price>7.99</price>
    <description>kebabPlateFries</description>
  </food>
  <food>
    <name>Doner Kebab plate with rice</name>
    <price>7.99</price>
    <description>kebabPlateRice</description>
  </food>
  <food>
    <name>Doner Kebab plate with white bread</name>
    <price>7.99</price>
    <description>kebabPlateWhiteBread</description>
  </food>
  <food>
    <name>Doner Kebab plate with pita bread</name>
    <price>7.99</price>
    <description>kebabPlatePitaBread</description>
  </food>
  <food>
    <name>Doner Kebab plate with flat bread</name>
    <price>7.99</price>
    <description>kebabPlateFlatBread</description>
  </food>
  <food>
    <name>Vegetarian plate</name>
    <price>7.99</price>
    <description>kebabVegetarian</description>
  </food>
  <food>
    <name>Boba Tea</name>
    <price>3.49</price>
    <flavors>
      <flavor>
        <name>Taro</name>
		<description>taroBoba</description>
      </flavor>
      <flavor>
        <name>Mango</name>
		<description>mangoBoba</description>
      </flavor>
      <flavor>
        <name>Coconut</name>
		<description>coconutBoba</description>
      </flavor><flavor>
        <name>Honeydew</name>
		<description>honeydewBoba</description>
      </flavor><flavor>
        <name>Strawberry</name>
		<description>strawberryBoba</description>
      </flavor>
      <flavor>
        <name>Mocha</name>
		<description>mochaBoba</description>
      </flavor>
      <flavor>
        <name>Green Tea</name>
		<description>greenTeaBoba</description>
      </flavor>
      <flavor>
        <name>Milk Tea</name>
		<description>milkTeaBoba</description>
      </flavor>
    </flavors>
    <description></description>
  </food>
</menu>