

html { width: 100%; height:100%; overflow:hidden; }

body { 
	width: 100%;
	height:100%;
}

.reg button {
	float: left;
	color: #37D651;
	display: inline-block;
	padding: 9px 14px;
	font-size: 16px;
	cursor: pointer;
	width: 100px;
}

.reg p {	
	float: right;
	font-size: 14px;
}
.reg { 
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -150px 0 0 -150px;
	width:300px;
	height:400px;
}


.container:before, .container:after{
	content: "";
	display: block;
	clear: both;
}

.reg h1 {color: white; text-shadow: 0 0 10px rgba(0,0,0,0.5); text-align:center;}

input{
	width: 100%;
	margin-bottom: 10px;
	background: rgba(0,0,0,0.3);
	border: none;
	outline: none;
	padding: 10px;
	font-size: 13px;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 4px;
	box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
	-webkit-transition: box-shadow .5s ease;
	-moz-transition: box-shadow .5s ease;
	-o-transition: box-shadow .5s ease;
	-ms-transition: box-shadow .5s ease;
	transition: box-shadow .5s ease;
}

input:focus { box-shadow: inset 0 -5px 45px rgba(100,100,100,0.4), 0 1px 1px rgba(255,255,255,0.2); }



div.container {
	width: 100%;
	height: 100%;
	color: white;
	position:absolute;
	top:0;
	left:0;
	overflow:auto;
	
	background: #37D651; /* Old browsers */
	background: -moz-linear-gradient(top,  #37D651 20%, #ffffff 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #37D651 20%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #37D651 20%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#37D651', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

div.container2 {
	width: 100%;
	color: white;
	position:absolute;
	top:0;
	left:0;
	overflow:auto;
	
	background: #37D651; /* Old browsers */
	background: -moz-linear-gradient(top,  #37D651 20%, #ffffff 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #37D651 20%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #37D651 20%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#37D651', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

div.headerContainer {
	width: 100%;
	color: green;
	padding-bottom: 15px;
	background-color:#37D651;
	border-bottom:1px solid black;
}

.headerContent {
	display:block;
	width:50%;
	margin:auto;
	max-height:100%;
}


.logReg {
	float: right;
	padding-right: 10px;
}

.space {
	margin-top:181px;
}

div.siteName {
	margin-left:auto;
	margin-right:auto;
	width:50%;
	max-width:100%;
	height:50%;
}

div.siteName img {
	height: 25%;
	width: 19%;
}

div.siteName2 {
	margin-left:auto;
	margin-right:auto;
	width:50%;
	max-width:100%;
	height:50%;
}

div.siteName2 img {
	height: 100px;
	width: 88px;
}

div.siteName h1, img {
	display:inline;
	text-align: left;
	overflow:hidden;
	white-space:nowrap;
	color: white;
	text-shadow: #000 0px 0px 3px,   #000 0px 0px 3px,   #000 0px 0px 3px,
             #000 0px 0px 3px,   #000 0px 0px 3px,   #000 0px 0px 3px;
}

div.siteName2 h1, img {
	display:inline;
	text-align: left;
	overflow:hidden;
	white-space:nowrap;
	color: white;
	text-shadow: #000 0px 0px 3px,   #000 0px 0px 3px,   #000 0px 0px 3px,
             #000 0px 0px 3px,   #000 0px 0px 3px,   #000 0px 0px 3px;
}

div.headerButton {
	width:50%;
	margin: auto;
	font-size: 100%;
	max-height:100%;
	height:50%;
}

div.headerButton a {
	display: inline-block;
	color: white;
	text-shadow: #000 0px 0px 1px,   #000 0px 0px 1px,   #000 0px 0px 1px,
             #000 0px 0px 1px,   #000 0px 0px 1px,   #000 0px 0px 1px;
	text-decoration: none;
	background-color: #A0522D;
	width: 20%;
	height:3%;
	text-align: center;
	margin-top:5px;
	border: 2px solid black;
	white-space:nowrap;
}

div.confMsg {
	margin: 10% 25% 10% 25%;
	padding-top: 50px;
	padding-bottom: 60px;
	text-align: center;
	height: 30%;
	width: 50%;
	background: white;
	color: black;
	border: 2px solid black;
}


@media screen and (max-width: 1000px)
{
	div.confMsg{
		margin-top: 30%;
	}
	div.siteName{
		width: initial;
	}
	
	div.headerButton {
		width: initial;
	}
}