#wrapper {
  display:table;
  width:1000px;
  height:800px;
}
#row {
  display:table-row;
}
#first {
  display:table-cell;
  background-color:green;
  width:300px;
  height:800px;
}
#second {
  display:table-cell;

  width:400px;
}
#third {
  display:table-cell;
  background-color:green;
  width:300px;
  height:800px;
}
#title{

    background-image: url(nopicture.png);
    background-size: 400px 150px;
     background-repeat: no-repeat;
}
#blueBox {
  background: blue;
  margin:10px;

  width: 280px;
  height: 310px;
  border-radius: 5px;
  background-image: url(dottedx.jpg);
  background-size: 282px 310px;
  background-repeat: no-repeat;
}

li {
    display: inline;
}
h2 {
    display: inline;
}

#mainimage {

    width:400px;
    height: 400px;
    background-image: url(nopicture.png);
    background-size:400px 400px;
     background-repeat: no-repeat;
     border: 2px;
}
